@charset "UTF-8";
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-B';
  src: url("../fonts/Ubuntu-B.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu-Medium', Arial, serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  height: 100vh;
  width: 100%; }

.container {
  width: 95%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.natural__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .natural__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media screen and (max-width: 480px) {
  .best__container {
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial; } }

.menu__container {
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  margin: 0; }

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team__container {
  width: 50vw;
  height: 100vh;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal; }

.title {
  font-family: 'gagalin', Arial, serif;
  color: #f9b43b;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.125rem; } }

.btn {
  font-family: 'Ubuntu-Medium', Arial, serif;
  width: 100px;
  height: 38px;
  background: #e45028;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border: #e45028;
  border-radius: 5px; }
  .btn:hover {
    cursor: pointer; }

@media screen and (max-width: 768px) {
  .side-nav {
    display: none; } }

.side-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 1%; }

.side-nav__item {
  margin-bottom: 5px; }
  .side-nav__item:hover .side-nav__el {
    background: url("../img/decor/el-active.png");
    width: 16px;
    height: 16px; }

.side-nav__active {
  background: url("../img/decor/el-active.png");
  width: 16px;
  height: 16px; }

.side-nav__el {
  background: url("../img/decor/el.png") center center no-repeat;
  width: 16px;
  height: 16px; }

.bot-scroll__link-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 50%; }

.bot-scroll__scroll-logo {
  width: 30px;
  height: 15px;
  background: url("../img/decor/arrow-scroll.png") center center no-repeat; }

.header {
  width: 100%;
  position: absolute; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .header__list {
      display: none; } }

.header__item {
  margin-left: 30px; }
  .header__item:before {
    color: white;
    content: '•';
    padding-right: 10px; }
  .header__item:hover {
    text-decoration: underline; }
  .header__item:first-child:before {
    display: none; }

.header__item-link {
  font-family: 'Ubuntu-Medium', Arial, serif;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500; }

.header__btn {
  margin-left: 15px; }

.header__logo {
  margin-right: auto; }

.natural {
  width: 100%;
  height: 100vh;
  background: url("../img/back/main-bg.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.natural__img {
  margin-top: 25px;
  width: 50%;
  min-height: 425px;
  background: url("../img/decor/main-burger.png") center center no-repeat; }
  @media screen and (max-width: 768px) {
    .natural__img {
      width: 100%; } }

.natural__content {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .natural__content {
      width: 100%;
      text-align: center; } }

.natural__tittle {
  margin-bottom: 40px;
  margin-top: 175px; }
  @media screen and (max-width: 768px) {
    .natural__tittle {
      margin-bottom: 0;
      margin-top: 0; } }

.natural__text {
  font-family: 'lifehack', Arial, serif;
  color: white;
  font-size: 4.0625rem;
  font-weight: 500;
  margin: 0; }

.best {
  height: 100vh;
  background: url("../img/back/best-sec-bg.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__tittle {
  font-family: 'gagalin', Arial, serif;
  color: #2f3234;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 18.75rem; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      max-width: 100%;
      text-align: left; } }

.best__item-img {
  min-width: 6.25rem;
  min-height: 5.625rem; }
  .best__item-img-meat {
    background: url("../img/decor/meat.png") center center no-repeat; }
  .best__item-img-hand {
    background: url("../img/decor/hand.png") center center no-repeat; }
  .best__item-img-natural {
    background: url("../img/decor/natural.png") center center no-repeat; }

@media screen and (max-width: 480px) {
  .best__item-content {
    margin-left: 28px; } }

.best__item-tittle {
  font-family: 'lifehack', Arial, serif;
  font-size: 1.5rem;
  font-weight: 500; }

.best__item-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300; }

.team {
  background: url("../img/back/team.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__description {
  height: 100vh;
  width: 50vw;
  background-color: #2f3234;
  opacity: .9;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__description {
      width: 100vw; } }

.team__tittle {
  margin-top: 7.0625rem;
  margin-bottom: 2.8125rem; }

.team__item {
  margin-bottom: 2.1875rem;
  font-family: 'gagalin', Arial, serif;
  color: white;
  font-size: 0.875rem;
  font-weight: 400; }

.team__more-ava {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.625rem; }

.team__link-more {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden; }

.team__link-content {
  max-width: 13.125rem; }

.team__more-tittle {
  font-family: 'Ubuntu-B', Arial, Serif;
  font-weight: 700; }

.menu {
  background: url("../img/back/menu.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.menu__tittle {
  color: white;
  margin-top: 6.9375rem;
  margin-left: 5.9375rem; }

.menu__accordion {
  position: absolute;
  right: 0;
  top: 0; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__link-for {
  width: 5rem;
  height: 100vh;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'gagalin', Arial, serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  color: white;
  margin: 0; }
  .menu__link-for-meat {
    background: url("../img/back/for-meat-man.png");
    background-size: cover; }
  .menu__link-for-veg {
    background: url("../img/back/for-veg.png");
    background-size: cover; }
  .menu__link-for-diet {
    background: url("../img/back/for-diet.png");
    background-size: cover; }

.menu__more {
  background-color: #2f3234;
  opacity: .9;
  width: 33.75rem; }
  .menu__more-meat {
    width: 0;
    overflow: hidden; }
  .menu__more-veg {
    width: 0;
    overflow: hidden; }
  .menu__more-diet {
    width: 0;
    overflow: hidden; }

.menu__more-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin: 3.75rem auto;
  max-width: 29.375rem; }

.staff {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.staff__ava {
  width: 25%;
  height: 50%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .staff__ava {
      width: 50%;
      height: 25%; } }
  .staff__ava-more {
    max-width: 13.875rem;
    max-height: 20.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0; }
  .staff__ava-tittle {
    font-family: 'gagalin', Arial, serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: white; }
  .staff__ava-text {
    font-family: 'Ubuntu-Light', Arial, serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: white;
    line-height: 1.5rem; }
  .staff__ava-btn {
    width: 6.875rem;
    height: 2.1875rem;
    background: #2f3234;
    border: #2f3234;
    border-radius: 0.3125rem;
    color: white; }
  .staff__ava:hover .staff__ava-more {
    opacity: 1; }

.delivery {
  background: url("../img/back/delivery.png");
  background-size: cover; }

.delivery__tittle {
  margin-bottom: 2.75rem;
  text-align: center; }

.delivery__form-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .delivery__form-elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.delivery__form-content {
  width: 50%;
  margin-right: 1.25rem; }
  .delivery__form-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .delivery__form-content {
      margin-right: 0;
      width: 100%; } }

.delivery__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 480px) {
  .delivery__form-row--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.delivery__form-block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .delivery__form-block:last-child {
    margin-right: 0; }

.delivery__form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem; }
  .delivery__form-check:last-child {
    margin-right: 0; }

.delivery__form-block-tittle {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: white; }

.delivery__form-input {
  margin-top: 0.4375rem;
  margin-bottom: 1.25rem;
  height: 2.1875rem;
  border: none;
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.75rem 1.25rem; }

.delivery__form-radio {
  margin-right: 0.625rem;
  margin-bottom: 1.5625rem; }

.delivery__form-input--comment {
  padding: 0.3125rem 0.3125rem;
  min-width: 100%;
  min-height: 7.1875rem; }

.delivery__btn-clear {
  background: none;
  font-family: 'Ubuntu-Light', Arial, serif;
  text-transform: none;
  font-size: 0.875rem; }

.map {
  background: url("../img/map.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw; }

.footer {
  background: url("../img/back/footer.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100vw;
  padding-bottom: 20px; }

.footer__contacts {
  text-align: left;
  margin-right: auto; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center; } }

.footer__address {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: white; }

.footer__tel {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #e35028; }

.footer__socials {
  text-align: right; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__item {
  margin-right: 1.25rem; }

.footer__soc {
  width: 1.25rem;
  height: 1.25rem; }
  .footer__soc-vk {
    background: url("../img/socials/vk.png") center center no-repeat; }
  .footer__soc-fb {
    background: url("../img/socials/fb.png") center center no-repeat; }
  .footer__soc-inst {
    background: url("../img/socials/inst.png") center center no-repeat; }
  .footer__soc-tw {
    background: url("../img/socials/tw.png") center center no-repeat; }
