@charset "UTF-8";
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-B';
  src: url("../fonts/Ubuntu-B.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu-Medium', Arial, serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  height: 100vh;
  width: 100%; }

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.natural__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu__container {
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  margin: 0; }

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.team__container {
  background-color: #2f3234;
  opacity: .9;
  width: 50vw;
  height: 100vh;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal; }

.title {
  font-family: 'gagalin', Arial, serif;
  color: #f9b43b;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 400; }

.btn {
  font-family: 'Ubuntu-Medium', Arial, serif;
  width: 100px;
  height: 38px;
  background: #e45028;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border: #e45028;
  border-radius: 5px; }
  .btn:hover {
    cursor: pointer; }

.side-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 1%; }

.side-nav__item {
  margin-bottom: 5px; }
  .side-nav__item:hover .side-nav__el {
    background: url("../img/decor/el-active.png");
    width: 16px;
    height: 16px; }

.side-nav__active {
  background: url("../img/decor/el-active.png");
  width: 16px;
  height: 16px; }

.side-nav__el {
  background: url("../img/decor/el.png") center center no-repeat;
  width: 16px;
  height: 16px; }

.bot-scroll__link-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 50%; }

.bot-scroll__scroll-logo {
  width: 30px;
  height: 15px;
  background: url("../img/decor/arrow-scroll.png") center center no-repeat; }

.header {
  width: 100%;
  position: absolute; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.header__item {
  margin-left: 30px; }
  .header__item:before {
    color: white;
    content: '•';
    padding-right: 10px; }
  .header__item:hover {
    text-decoration: underline; }
  .header__item:first-child:before {
    display: none; }

.header__item-link {
  font-family: 'Ubuntu-Medium', Arial, serif;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500; }

.header__btn {
  margin-left: 15px; }

.header__logo {
  margin-right: auto; }

.natural {
  width: 100%;
  height: 100vh;
  background: url("../img/back/main-bg.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.natural__img {
  margin-top: 25px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width: 460px;
  min-height: 425px;
  background: url("../img/decor/main-burger.png") center center no-repeat; }

.natural__tittle {
  font-family: 'gagalin', Arial, serif;
  color: #f9b43b;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 175px; }

.natural__text {
  font-family: 'lifehack', Arial, serif;
  color: white;
  font-size: 65px;
  font-weight: 500;
  margin: 0; }

.best {
  height: 100vh;
  background: url("../img/back/best-sec-bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__tittle {
  font-family: 'gagalin', Arial, serif;
  color: #2f3234;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 300px; }

.best__item-img {
  width: 100px;
  height: 90px; }
  .best__item-img-meat {
    background: url("../img/decor/meat.png") center center no-repeat; }
  .best__item-img-hand {
    background: url("../img/decor/hand.png") center center no-repeat; }
  .best__item-img-natural {
    background: url("../img/decor/natural.png") center center no-repeat; }

.best__item-tittle {
  font-family: 'lifehack', Arial, serif;
  font-size: 24px;
  font-weight: 500; }

.best__item-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300; }

.team {
  background: url("../img/back/team.png");
  background-size: cover;
  position: relative; }

.team__description {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50vw; }

.team__tittle {
  margin-top: 113px;
  margin-bottom: 45px; }

.team__item {
  margin-bottom: 35px;
  font-family: 'gagalin', Arial, serif;
  color: white;
  font-size: 14px;
  font-weight: 400; }

.team__more-ava {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; }

.team__link-more {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden; }

.team__link-content {
  max-width: 210px; }

.team__more-tittle {
  font-family: 'Ubuntu-B', Arial, Serif;
  font-weight: 700; }

.menu {
  background: url("../img/back/menu.png");
  background-size: cover;
  position: relative; }

.menu__tittle {
  color: white;
  margin-top: 111px;
  margin-left: 95px; }

.menu__accordion {
  position: absolute;
  right: 0;
  top: 0; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__link-for {
  width: 80px;
  height: 100vh;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-size: cover; }
  .menu__link-for-meat {
    background: url("../img/back/for-meat-man.png");
    background-size: cover; }
  .menu__link-for-veg {
    background: url("../img/back/for-veg.png");
    background-size: cover; }
  .menu__link-for-diet {
    background: url("../img/back/for-diet.png");
    background-size: cover; }

.menu__subtittle {
  font-family: 'gagalin', Arial, serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin: 0; }

.menu__more {
  background-color: #2f3234;
  opacity: .9;
  width: 540px; }
  .menu__more-veg {
    width: 0;
    overflow: hidden; }
  .menu__more-diet {
    width: 0;
    overflow: hidden; }

.menu__more-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin: 60px auto;
  max-width: 470px; }

.staff {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.staff__ava {
  width: 25%;
  min-height: 325px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  background-size: cover; }
  .staff__ava-more {
    max-width: 222px;
    max-height: 325px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0; }
  .staff__ava-tittle {
    font-family: 'gagalin', Arial, serif;
    font-size: 14px;
    font-weight: 400;
    color: white; }
  .staff__ava-text {
    font-family: 'Ubuntu-Light', Arial, serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 24px; }
  .staff__ava-btn {
    width: 110px;
    height: 35px;
    background: #2f3234;
    border: #2f3234;
    border-radius: 5px;
    color: white; }
  .staff__ava:hover .staff__ava-more {
    opacity: 1; }

.delivery {
  background: url("../img/back/delivery.png");
  background-size: cover; }

.delivery__tittle {
  margin-bottom: 44px; }

.delivery__form-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.delivery__form-content {
  width: 50%;
  margin-right: 20px; }
  .delivery__form-content:last-child {
    margin-right: 0; }

.delivery__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.delivery__form-block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .delivery__form-block:last-child {
    margin-right: 0; }

.delivery__form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px; }
  .delivery__form-check:last-child {
    margin-right: 0; }

.delivery__form-block-tittle {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: white; }

.delivery__form-input {
  margin-top: 7px;
  margin-bottom: 20px;
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px; }

.delivery__form-radio {
  margin-right: 10px;
  margin-bottom: 25px; }

.delivery__form-input--comment {
  padding: 5px 5px;
  min-width: 450px;
  min-height: 115px; }

.delivery__btn-clear {
  background: none;
  font-family: 'Ubuntu-Light', Arial, serif;
  text-transform: none;
  font-size: 14px; }

.map {
  background: url("../img/map.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw; }

.footer {
  background: url("../img/back/footer.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100vw; }

.footer__contacts {
  text-align: left;
  margin-right: auto; }

.footer__address {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: white; }

.footer__tel {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 700;
  color: #e35028; }

.footer__socials {
  text-align: right; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__item {
  margin-right: 20px; }

.footer__soc {
  width: 20px;
  height: 20px; }
  .footer__soc-vk {
    background: url("../img/socials/vk.png") center center no-repeat; }
  .footer__soc-fb {
    background: url("../img/socials/fb.png") center center no-repeat; }
  .footer__soc-inst {
    background: url("../img/socials/inst.png") center center no-repeat; }
  .footer__soc-tw {
    background: url("../img/socials/tw.png") center center no-repeat; }
