.best {
  background: url("../img/back/best-sec-bg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.best__tittle {
  font-family: 'gagalin', Arial, serif;
  color: #2f3234;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.best__list {
  display: flex;
  list-style: none;

  @include phones() {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: rem(300px);
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  @include phones() {
    flex-direction: row;
    max-width: 100%;
    text-align: left;
  }
}

.best__item-img {
  max-width: rem(100px);
  max-height: rem(90px);
}

.best__item-content {
  @include phones() {
    margin-left: 28px;
  }
}

.best__item-tittle {
  font-family: 'lifehack', Arial, serif;
  font-size: rem(24px);
  font-weight: 500;
}

.best__item-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: rem(14px);
  font-weight: 300;
}