.burger-info {
    background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-info__slide {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: 475px;

    @include laptop() {
        flex-direction: column;
    }
}

.slide__decor {
    // width: 55%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include laptop() {
        width: 100%;
        height: 50%;
    }
}

.slide__decor-composition {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background: #ee832d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
}

.composition__svg {
    width: 45px;
    height: 45px;
}

.slide__decor-window {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 90px;
    width: 280px;
    height: 340px;
    background: white;
    opacity: .7;
    display: none;

    &--active {
        display: block;
    }
}

.slide__decor-gramm {
    margin: 20px 20px;
    
}

.slide__decor-item {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: center;
    height: 50px;
}

.slide__decor-gramm {
    margin-left: auto;
}

.slide__window-svg {
    width: 45px;
    height: 45px;
    margin: 0 25px;
}

.slide__decor-kkal {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 70px;
    min-height: 80px;
    font-family: 'gagalin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: rem(14px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
    opacity: .5;

    @include laptop() {
        left: 80%;
        bottom: 100%;
        top: 0px;
        right: 0px;
    }

    @include phones() {
        left: 80%;
    }
}

.kkal__count {
    position: absolute;
    font-size: rem(20px);
}

.kkal__svg {
    width: 60px;
    height: 60px;
}

.slide__img {
    width: 70%;
    margin-top: 80px;
}

.slide__content {
    width: 45%;

    @include laptop() {
        width: 80%;
        text-align: center;
        height: 50%;
    }
}

.slide__title {
    color: white;
}

.slide__text {
    color: white;
    font-family: 'Ubuntu-Light', Arial, serif;
    font-weight: 300;
    font-size: rem(14px);
}

.slide__price {
    font-family: 'gagalin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: $red;
    display: inline-block;
    margin-right: 30px;
}

.slide__price-val {
    font-size: 30px;
    text-decoration: uppercase;
    margin-left: -15px;
}

.slide__link {
    @extend .header__item-link;
    
    .slide__btn {
        @extend .header__item-link-btn;
    }
}


// Slider

.bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 0;

    @include laptop() {
        margin-top: 430px;
    }
}

.bx-wrapper .bx-controls-direction a {
    color: white;
    text-indent: 0;
    text-decoration: none;
    font-size: 40px;
    margin-top: -30px;
}

.bx-prev {
    background: url('../img/decor/arrow-scroll.png') center center no-repeat !important;
    transform: rotate(90deg)
}

.bx-next {
    background: url('../img/decor/arrow-scroll.png') center center no-repeat !important;
    transform: rotate(-90deg)
}

.bx-wrapper .bx-prev {
    left: -30px;
}

.bx-wrapper .bx-next {
    right: -30px;
}

.slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;

    @include laptop() {
        flex-wrap: wrap;
        height: 800px;
    }
}