.delivery {
  background: url("../img/back/delivery.png");
  background-size: cover;
}

.delivery__tittle {
  margin-bottom: rem(44px);
}

.delivery__form-elem {
  display: flex;

  @include tablets() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.delivery__form-content {
  width: 50%;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include  tablets() {
    margin-right: 0;
  }
}

.delivery__form-row {
  display: flex;
}

.delivery__form-block {
  display: block;
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.delivery__form-check {
  display: flex;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.delivery__form-block-tittle {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: rem(14px);
  font-weight: 300;
  color: white;
}

.delivery__form-input {
  margin-top: rem(7px);
  margin-bottom: rem(20px);
  height: rem(35px);
  border: none;
  border-radius: rem(5px);
  width: 100%;
  padding: rem(12px) rem(20px);
}

.delivery__form-radio {
  margin-right: rem(10px);
  margin-bottom: rem(25px);
}

.delivery__form-input--comment {
  padding: rem(5px) rem(5px);
  min-width: 100%;
  min-height: rem(115px);
}

.delivery__btn-clear {
  background: none;
  font-family: 'Ubuntu-Light', Arial, serif;
  text-transform: none;
  font-size: rem(14px);
}