.delivery {
  background: url("../img/back/delivery.png");
  background-size: cover;
}

.delivery__tittle {
  margin-bottom: 44px;
}

.delivery__form-elem {
  display: flex;
}

.delivery__form-content {
  width: 50%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.delivery__form-row {
  display: flex;
}

.delivery__form-block {
  display: block;
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.delivery__form-check {
  display: flex;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.delivery__form-block-tittle {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.delivery__form-input {
  margin-top: 7px;
  margin-bottom: 20px;
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px;
}

.delivery__form-radio {
  margin-right: 10px;
  margin-bottom: 25px;
}

.delivery__form-input--comment {
  padding: 5px 5px;
  min-width: 450px;
  min-height: 115px;
}

.delivery__btn-clear {
  background: none;
  font-family: 'Ubuntu-Light', Arial, serif;
  text-transform: none;
  font-size: 14px;
}