.footer {
  background: url("../img/back/footer.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-bottom: 20px;
}

.footer__contacts {
  text-align: left;
  margin-right: auto;

  @include phones() {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__address {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: rem(14px);
  font-weight: 300;
  color: white;
}

.footer__tel {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: rem(14px);
  font-weight: 700;
  color: $red;

  &-img {
    width: 12px;
    height: 11px;
    fill: #E45028;
  }
}


.footer__socials {
  text-align: right;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-right: rem(20px);
}

.footer__soc-icon {
  width: 20px;
  height: 20px;
  fill: #595959;

  &:hover{
    fill: #FFFF;
  }
}