.header {
  width: 100%;
  position: absolute;
}

.header__menu {
  width: 25px;
  height: 25px;
  background: url("../img/decor/menu.png") center center no-repeat;
  display: none;

  @include tablets() {
    display: initial;
  }
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;

  @include tablets() {
    display: none;
  }
}

.header__item {
  margin-left: 30px;
  position: relative;

  &:before {
    color: white;
    content: '•';
    top: 1px;
    left: -15px;
    position: absolute;
  }

  &:hover {
    text-decoration: underline;
  }

  &:first-child:before {
    display: none;
  }

  &:last-child:before {
    display: none;
  }
}

.header__item-link {
  font-family: 'Ubuntu-Medium', Arial, serif;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;

  &-btn {
    display: inline-block;
    padding: 13px 15px;
    font-family: 'Ubuntu-Medium', Arial, serif;
    background: $bg-btn;
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    border: $bg-btn;
    border-radius: 5px;
  }
}

.header__btn {
  margin-left: 15px;
}

.header__logo {
  margin-right: auto;
}

.logo__img {
  width: 90px;
  height: 70px;
}