.menu {
  background: url("../img/back/menu.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.menu__tittle {
  position: absolute;
  color: white;
  margin-left: 5vw;
  left: 0;
  top: 0;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu__item {
  display: flex;

}

.menu__link-for {
  max-width: 4vw;
  height: 100vh;
  writing-mode: vertical-rl;
  font-family: 'gagalin', Arial, serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: rem(40px);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include tablets() {
    min-width: 7vw;
  }

  &-meat {
    background: url("../img/back/for-meat-man.png");
    background-size: cover;
  }

  &-veg {
    background: url("../img/back/for-veg.png");
    background-size: cover;
  }

  &-diet {
    background: url("../img/back/for-diet.png");
    background-size: cover;
  }
}

.menu__link-text {
  padding: rem(20px);
  transform: rotate(180deg);
}

.menu__more {
  background-color: $black;
  opacity: .9;
  width: rem(540px); 
  width: 0;
  overflow: hidden;

  // &-meat {
  //   width: 0;
  //   overflow: hidden;
  // }

  // &-veg {
  //   width: 0;
  //   overflow: hidden;
  // }

  // &-diet {
  //   width: 0;
  //   overflow: hidden;
  // }
}

.menu__more-text {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: rem(14px);
  font-weight: 300;
  color: white;
  margin: rem(60px) auto;
  max-width: rem(470px);
}

.menu__more--active {
  width: 40vw;
  overflow: initial;
}