.natural__menu {
    position: absolute;
    background: black;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    display: none;
} 

.natural__menu--active {
    opacity: .8;
    display: initial;
}

// .menu__exit {
//     background: url('../img/decor/exit.png') center center no-repeat;
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     right: 30px;
//     top: 30px;
//     cursor: pointer;
//     border: none;
// }

.menu__list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.menu__item{
margin-bottom: 50px;
position: relative;
}

.menu__link {
    font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-decoration: uppercase;
    color: white;

    &:before {
        position: absolute;
        content: '•';
        color: white;
        top: 40px;
        left: 27px;
    }

    &:hover {
        color: aqua;
    }
}