.natural {
  background: url("../img/back/main-bg.png")  center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.natural__img {
  margin-top: 25px;
  width: 50%;
  height: rem(425px);
  background: url("../img/decor/main-burger.png") center center no-repeat;

  @include tablets() {
    min-width: 100%;
  }
}

.natural__content {
  width: 50%;

  @include tablets() {
    width: 100%;
    text-align: center;
  }
}

.natural__tittle {
  margin-bottom: 40px;
  margin-top: 175px;

  @include tablets() {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.natural__text {
  font-family: 'lifehack', Arial, serif;
  color: white;
  font-size: rem(65px);
  font-weight: 500;
  margin: 0;
}