.staff {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.staff__ava {
  width: 25%;
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  background-size: cover;
  background-position: center center;

  @include tablets() {
    width: 50%;
    height: 25%;
  }

  &-more {
    max-width: rem(222px);
    max-height: rem(325px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
  }

  &-tittle {
    font-family: 'gagalin', Arial, serif;
    font-size: rem(14px);
    font-weight: 400;
    color: white;
  }

  &-text {
    font-family: 'Ubuntu-Light', Arial, serif;
    font-size: rem(14px);
    font-weight: 300;
    color: white;
    line-height: rem(24px);
  }

  &-btn {
    width: rem(110px);
    height: rem(35px);
    background: #2f3234;
    border: #2f3234;
    border-radius: rem(5px);
    color: white;
  }

  &:hover {
    .staff__ava-more {
      opacity: 1;
    }
  }
}











