.staff-section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.staff-section__ava {
  width: 25%;
  min-height: 325px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);

  &-more {
    max-width: 222px;
    max-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
  }

  &-tittle {
    font-family: 'gagalin', Arial, serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }

  &-text {
    font-family: 'Ubuntu-Light', Arial, serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 24px;
  }

  &-btn {
    width: 110px;
    height: 35px;
    background: #2f3234;
    border: #2f3234;
    border-radius: 5px;
    color: white;
  }

  &:hover {
    .staff-section__ava-more {
      opacity: 1;
    }
  }

  &-1 {
    background: url("../img/ava/1.png") center center no-repeat;
    background-size: cover;
  }

  &-2 {
    background: url("../img/ava/2.png") center center no-repeat;
    background-size: cover;
  }

  &-3 {
    background: url("../img/ava/3.png") center center no-repeat;
    background-size: cover;
  }

  &-4 {
    background: url("../img/ava/4.png") center center no-repeat;
    background-size: cover;
  }

  &-5 {
    background: url("../img/ava/5.png") center center no-repeat;
    background-size: cover;
  }

  &-6 {
    background: url("../img/ava/6.png") center center no-repeat;
    background-size: cover;
  }

  &-7 {
    background: url("../img/ava/7.png") center center no-repeat;
    background-size: cover;
  }

  &-8 {
    background: url("../img/ava/8.png") center center no-repeat;
    background-size: cover;
  }
}











