.team {
  background: url("../img/back/team.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__description {
  height: 100vh;
  width: 50vw;
  background-color: $black;
  opacity: .9;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablets() {
    width: 100vw;
  }
}

.team__tittle {
  margin-top: rem(113px);
  margin-bottom: rem(45px);
}

.team__item {
  margin-bottom: rem(35px);
  font-family: 'gagalin', Arial, serif;
  color: white;
  font-size: rem(14px);
  font-weight: 400;
}

.team__more-ava {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(10px);
}

.team__link-more {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-weight: 300;
  font-size: rem(14px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
}

.team__link-content {
  max-width: rem(210px);
}

.team__more-tittle {
  font-family: 'Ubuntu-B', Arial, Serif;
  font-weight: 700;
}
