.team {
  background: url("../img/back/team.png");
  background-size: cover;
  position: relative;
}

.team__description {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50vw;
}

.team__tittle {
  margin-top: 113px;
  margin-bottom: 45px;
}

.team__item {
  margin-bottom: 35px;
  font-family: 'gagalin', Arial, serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.team__more-ava {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.team__link-more {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
}

.team__link-content {
  max-width: 210px;
}

.team__more-tittle {
  font-family: 'Ubuntu-B', Arial, Serif;
  font-weight: 700;
}
