.side-nav__item {
  margin-bottom: 15px; }

.side-nav__active {
  background: url("../img/decor/el-active.png");
  width: 16px;
  height: 16px; }

.side-nav__el {
  background: url("../img/decor/el.png");
  width: 6px;
  height: 6px; }
