.side-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 1%;
}

.side-nav__item {
  margin-bottom: 15px;
}

.side-nav__active {
  background: url("../img/decor/el-active.png");
  width: 16px;
  height: 16px;
}

.side-nav__el {
  background: url("../img/decor/el.png");
  width: 6px;
  height: 6px;
}