.side-nav {
  @include tablets() {
    display: none;
  }
}

.side-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 1%;
}

.side-nav__item {
  margin-bottom: 5px;

  &:hover {
    .side-nav__el {
      background: url("../img/decor/el-active.png");
      width: 16px;
      height: 16px;
    }
  }
}

.side-nav__active {
  background: url("../img/decor/el-active.png");
  width: 16px;
  height: 16px;
}

.side-nav__el {
  background: url("../img/decor/el.png") center center no-repeat;
  width: 16px;
  height: 16px;
}