.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__item:before {
    color: white;
    content: '•';
    padding-right: 10px;
}

.header__item {
    margin-left: 30px;
}

.header__item-link {
    font-family: 'Ubuntu-Medium', Arial, serif;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.header__button {
    font-family: 'Ubuntu-Medium', Arial, serif;
    margin-left: 15px;
    width: 100px;
    height: 38px;
    background: #e45028;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    border: #e45028;
    border-radius: 5px;
}

.logo {
    margin-right: 200px;
}